<div class="mask">
  <div class="dialog">
    <div class="title2">
      <p>{{ "LOGIN.FORGET_PWD" | translate }}</p>
      <i (click)="close()"></i>
    </div>
    <form
      [formGroup]="form1"
      (ngSubmit)="resetPwd_step1()"
      *ngIf="!forgetStep2; else step2"
    >
      <input
        type="text"
        placeholder="{{ 'FORGET_PWD.HOLDER' | translate }}"
        required
        formControlName="phone"
      />
      <!-- <p class="err">大師自己填寫</p> -->
      <button class="orange_btn" [disabled]="this.form1.invalid">
        {{ "FORGET_PWD.RESET" | translate }}
      </button>
      <p>{{ "FORGET_PWD.PS" | translate }}</p>
    </form>

    <ng-template #step2>
      <form [formGroup]="form2" (ngSubmit)="resetPwd_step2()">
        <input
          type="text"
          placeholder="{{ 'PleaseInput' | translate }}{{
            'FORGET_PWD.CODE' | translate
          }}"
          required
        />
        <!-- <p class="err">大師自己填寫</p> -->

        <button class="orange_btn">
          {{ leftTime }}s {{ "FORGET_PWD.RECOMMIT" | translate
          }}{{ "FORGET_PWD.CODE" | translate }}
        </button>
        <input
          type="text"
          placeholder="{{ 'PleaseInput' | translate }}{{
            'FORGET_PWD.NEW_PWD' | translate
          }}"
          required
        />
        <input
          type="text"
          placeholder="{{ 'FORGET_PWD.CONFIRM_PWD' | translate }}"
          required
        />
        <button class="orange_btn">
          {{ "FORGET_PWD.RESET" | translate }}
        </button>
      </form>
    </ng-template>
  </div>
</div>
