.dialog {
  width: 87.2vw;

  .title2 {
    position: relative;
    height: 45px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #848484;

    i {
      position: absolute;
      width: 15px;
      height: 15px;
      background: url("/tb-mobile/assets/img/close2.svg") no-repeat center
        center;
      right: 15px;
      top: 0px;
    }
  }
}

input {
  width: 77.6vw;
  height: 9.87vw;
  margin-top: 19px;
  font-size: 14px;
}

input::placeholder {
  color: #b3b3b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0 15px 0;

  button {
    width: 77.6vw;
    height: 11.2vw;
    margin: 10.13vw 0 8vw;
  }

  .err {
    margin: 5px 0px;
  }

  .orange_btn {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

p {
  font-size: 14px;
  line-height: 31px;
  color: #b0b0b1;
  margin: 15px 0;
}
