<div class="main">

  <!-- 等級 -->
  <div>
    <p class="title">{{"VIP.DETAIL.CONDITION.TITLE" | translate}}</p>
    <div class="table">
      <ul class="vip_name">
        <li>{{"VIP.DETAIL.LEVEL.title" | translate}}
          <a ng-href="#" class="arr_l"></a>
          <a ng-href="#" class="arr_r"></a>
        </li>
        <li>{{"VIP.DETAIL.LEVEL.0" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.1" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.2" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.3" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.4" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.5" | translate}}</li>
        <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
      </ul>
      <div class="vip_data">
        <div>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.CONDITION.TOTAL" | translate}}</span></li>
            <li>0</li>
            <li>100,000</li>
            <li>500,000</li>
            <li>1,000,000</li>
            <li>3,000,000</li>
            <li>5,000,000</li>
            <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
          </ul>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.CONDITION.UP" | translate}}</span></li>
            <li>0</li>
            <li>200,000</li>
            <li>1,000,000</li>
            <li>10,000,000</li>
            <li>30,000,000</li>
            <li>50,000,000</li>
            <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
          </ul>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.CONDITION.UP" | translate}}</span></li>
            <li>0</li>
            <li>200,000</li>
            <li>1,000,000</li>
            <li>10,000,000</li>
            <li>30,000,000</li>
            <li>50,000,000</li>
            <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 退水 -->
  <div>
    <p class="title">{{"VIP.DETAIL.WATER.TITLE" | translate}}</p>
    <div class="table">
      <ul class="vip_name">
        <li>{{"VIP.DETAIL.LEVEL.title" | translate}}
          <a ng-href="#" class="arr_l"></a>
          <a ng-href="#" class="arr_r"></a>
        </li>
        <li>{{"VIP.DETAIL.LEVEL.0" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.1" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.2" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.3" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.4" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.5" | translate}}</li>
        <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
      </ul>
      <div class="vip_data">
        <div>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.WATER.FISH" | translate}}</span></li>
            <li>0.3%</li>
            <li>0.4%</li>
            <li>0.5%</li>
            <li>0.6%</li>
            <li>0.7%</li>
            <li>0.8%</li>
            <li>1.0%</li>
          </ul>
          <ul>
            <li><span class='up w100'>{{"VIP.DETAIL.WATER.LIVE" | translate}}</span></li>
            <li>0.2%</li>
            <li>0.25%</li>
            <li>0.3%</li>
            <li>0.4%</li>
            <li>0.5%</li>
            <li>0.6%</li>
            <li>0.7%</li>
          </ul>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.WATER.SPORT" | translate}}</span></li>
            <li>0.2%</li>
            <li>0.25%</li>
            <li>0.3%</li>
            <li>0.4%</li>
            <li>0.5%</li>
            <li>0.6%</li>
            <li>0.7%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 優惠 -->
  <div>
    <p class="title">{{"VIP.DETAIL.DISCOUNT.TITLE" | translate}}</p>
    <div class="table">
      <ul class="vip_name">
        <li>{{"VIP.DETAIL.LEVEL.title" | translate}}
          <a ng-href="#" class="arr_l"></a>
          <a ng-href="#" class="arr_r"></a>
        </li>
        <li>{{"VIP.DETAIL.LEVEL.0" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.1" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.2" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.3" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.4" | translate}}</li>
        <li>{{"VIP.DETAIL.LEVEL.5" | translate}}</li>
        <li>{{"VIP.DETAIL.CONDITION.SPCIAL" | translate}}</li>
      </ul>
      <div class="vip_data">
        <div>
          <ul>
            <li><span class='up w100'>{{"VIP.DETAIL.DISCOUNT.DAILY-LIMIT" | translate}}</span></li>
            <li>300,000</li>
            <li>300,000</li>
            <li>500,000</li>
            <li>800,000</li>
            <li>1,000,000</li>
            <li>2,000,000</li>
            <li>3,000,000</li>
          </ul>
          <ul>
            <li><span class='up w100'>{{"VIP.DETAIL.DISCOUNT.UP" | translate}}</span></li>
            <li>X</li>
            <li>888</li>
            <li>1,688</li>
            <li>8,888</li>
            <li>12,888</li>
            <li>18,888</li>
            <li>58,888</li>
          </ul>
          <ul>
            <li><span class='up'>{{"VIP.DETAIL.DISCOUNT.STAY" | translate}}</span></li>
            <li>X</li>
            <li>888</li>
            <li>1,688</li>
            <li>8,888</li>
            <li>12,888</li>
            <li>18,888</li>
            <li>58,888</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
