.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 45px;
  padding: 0 14px 0;
  background: #e11515;
}

.content2 {
  justify-content: center;
}

.logo {
  width: 58px;
  height: 26px;
  background: url('/tb-mobile/assets/img/logo.svg') no-repeat center center;
}

.arrow {
  position: absolute;
  top: 12.5px;
  left: 14px;
  width: 10px;
  height: 20px;
  background: url('/tb-mobile/assets/img/arrow_w.svg') no-repeat center center;
}

button {
  position: absolute;
  top: calc((45px - 27px) / 2);
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 42px;
  height: 27px;
  padding: 0 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
}

.title {
  width: 70%;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit {
  position: absolute;
  top: calc((45px - 21px) / 2);
  right: 14px;
  width: 21px;
  height: 21px;
  background: url('/tb-mobile/assets/img/edit.svg') no-repeat center center;
}

.refresh {
  position: absolute;
  top: calc((45px - 21px) / 2);
  right: 14px;
  width: 21px;
  height: 21px;
  background: url('/tb-mobile/assets/img/refresh_w.svg') no-repeat center center;
}

// .vip_btn {
//   width: 72px;
// }
