<div
  style="
    background-color: #f8f8f8;
    padding: 8px 0 10px;
    min-height: calc(100vh - 45px - 47px);
  "
>
  <div class="wallet panel-style flex">
    <div>
      <div class="title">
        <div style="display: flex; align-items: center">
          <p>{{ "TRANSFER.CENTER-WALLET" | translate }}</p>
          <!-- (click)="refreshAll()" -->
          <i appThrottle (action)="refreshAll()"></i>
        </div>
      </div>
      <div class="amount">${{ user.money | floatDisplay }}</div>
    </div>
    <div>
      <div class="title">
        <div style="display: flex; align-items: center">
          <p>{{ "MY-WALLET.TOTAL.COUPON" | translate }}</p>
        </div>
      </div>
      <div class="amount">${{ walletSumup | floatDisplay }}</div>
    </div>
  </div>

  <div class="operate white-bg">
    <form [formGroup]="transferform" appThrottle (action)="transferPlatforms()">
      <div style="position: relative">
        <select formControlName="wallet">
          <option value="">
            {{ "MEMBER_NAV.MULTIMONEY" | translate }}
          </option>
          <option value="{{ item.id }}" *ngFor="let item of couponWallets">
            {{ item.name }}#{{ item.id }}
          </option>
        </select>
        <i>
          {{ "WALLET" | translate }}
        </i>
      </div>
      <div style="position: relative">
        <select formControlName="platform">
          <option [ngValue]="item" *ngFor="let item of platforms">
            {{ item.name }}
          </option>
        </select>
        <i>
          {{ "BET_LOG.PLATFORM" | translate }}
        </i>
      </div>
      <input
        type="number"
        placeholder="{{ 'TRANSFER.placeholder' | translate }}"
        min="100"
        *ngIf="!autoCtrl.value"
        formControlName="amount"
      />
      <div class="btns-wrap flex">
        <button
          class="orange_btn"
          [disabled]="
            autoCtrl.value == false && !transferform.get('amount').value
          "
        >
          {{ "PFTRANSITION.CONFIRM" | translate }}
        </button>
        <button
          class="orange_btn"
          appThrottle
          (action)="unmountActivityWallet()"
        >
          {{ "TRANSFER.RECEIVE" | translate }}
        </button>
      </div>
    </form>
    <form [formGroup]="transferBackform" appThrottle (action)="unmount()">
      <div style="position: relative">
        <select formControlName="item">
          <!-- <option value="">
            {{ "MEMBER_NAV.MULTIMONEY" | translate }}
          </option> -->
          <option value="-1" disabled selected>
            {{ "PLEASE-CHOSE" | translate }}
          </option>
          <option [ngValue]="item.id" *ngFor="let item of platformsWithWallet">
            {{ item.platform.name }}
          </option>
        </select>
        <i>
          {{ "BET_LOG.PLATFORM" | translate }}
        </i>
      </div>
      <div style="position: relative">
        <input type="text" formControlName="wallet" />
        <i>
          {{ "WALLET" | translate }}
        </i>
      </div>

      <button
        class="orange_btn"
        [disabled]="transferBackform.get('item').value == -1"
      >
        {{ "PFTRANSITION.CONFIRM" | translate }}
      </button>
    </form>
  </div>
  <div class="btn-group">
    <button
      (click)="typeChange(WalletType.COUPON)"
      [ngClass]="{ active: curWalletType === WalletType.COUPON }"
    >
      {{ "MY-WALLET.COUPON-PAGE-TITLE" | translate }}
    </button>
    <button
      (click)="typeChange(WalletType.PLATFORM)"
      [ngClass]="{ active: curWalletType === WalletType.PLATFORM }"
    >
      {{ "MY-WALLET.PLATFORM-PAGE-TITLE" | translate }}
    </button>
  </div>
  <div class="white-bg">
    <app-platform-wallet
      *ngIf="curWalletType === WalletType.PLATFORM"
      [type]="type"
    ></app-platform-wallet>
    <app-coupon-wallet
      *ngIf="curWalletType === WalletType.COUPON"
      [type]="type"
    ></app-coupon-wallet>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
