<div class="page-header">
  <ul>
    <li [class.active]="tab === tabs.apply" (click)="selectType(tabs.apply)">
      {{ "MEMBER_QUEST.APPLY_TAB" | translate }}
    </li>
    <li
      [class.active]="tab === tabs.recored"
      (click)="selectType(tabs.recored)"
    >
      {{ "MEMBER_QUEST.RECORD_TAB" | translate }}
    </li>
  </ul>
</div>
<div class="page-body" [ngSwitch]="tab">
  <app-combine-quest-apply *ngSwitchCase="tabs.apply"></app-combine-quest-apply>
  <app-quest-record *ngSwitchCase="tabs.recored"></app-quest-record>
</div>
