<div class="menu">
  <span routerLink="/{{ AppRoutes.USER_INFO }}">{{
    "MEMBER_INFO.basic" | translate
  }}</span>
  <span routerLink="/{{ AppRoutes.USER_INFO_PLATFORM }}" class="active">{{
    "MEMBER_INFO.platform" | translate
  }}</span>
</div>
<div class="main">
  <p *ngIf="pdata.length === 0" class="no-data">
    {{ "NO_DATA" | translate }}
  </p>
  <ul>
    <li *ngFor="let item of pdata">
      <p>{{ item.name }}</p>
      <p>
        <span>{{ "MEMBER_INFO.code" | translate }}</span
        ><span> {{ item.key }}</span>
      </p>
      <p>
        <span>{{ "MEMBER_INFO.uid" | translate }}</span
        ><span>{{ item.uid }}</span>
      </p>
      <p>
        <span>{{ "MEMBER_INFO.pwd" | translate }}</span
        ><span>{{ item.pwd }}</span>
      </p>
      <p>
        <span>{{ "MEMBER_INFO.status" | translate }}</span
        ><span> {{ item.status }}</span>
      </p>
      <p>
        <span>{{ "MEMBER_INFO.llt" | translate }}</span
        ><span>{{ item.lls }}</span>
      </p>
    </li>
  </ul>
</div>
