<div class="scroll-wrap" appList (gotBottom)="onBtm($event)">
  <div class="search-contain">
    <form [formGroup]="form" (ngSubmit)="queryBonus()">
      <ul>
        <li>
          <p>{{ "REVIEW_RECORD.SEARCH.COL-ACCOUNT" | translate }}</p>
          <select
            class="type-selector"
            formControlName="platformId"
            multiple="multiple"
          >
            <option *ngFor="let item of gamePlatforms" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </li>
        <li>
          <p>{{ "REVIEW_RECORD.SEARCH.COL-DATE" | translate }}</p>
          <div class="date-selector">
            <input type="date" formControlName="startTime" />
            <span>~</span>
            <input type="date" formControlName="endTime" />
            <!-- <div><i></i></div> -->
          </div>
        </li>
        <li>
          <app-date-selector (timeEvt)="setTime($event)"></app-date-selector>
        </li>
        <li>
          <button class="btn-confirm orange_btn">
            {{ "REVIEW_RECORD.SEARCH.CONFIRM" | translate }}
          </button>
        </li>
      </ul>
    </form>
  </div>
  <div class="review-body">
    <div class="empty-data" *ngIf="pageConfig.totalItems === 0">
      {{ "NO_DATA" | translate }}
    </div>
    <div class="record panel-style" *ngFor="let item of list">
      <ul>
        <li class="r-header">
          <span></span>
          <span class="time">{{ item.date }}</span>
        </li>
        <li class="r-body">
          <ul class="r-detail">
            <!-- <li>
            <span>交易類別</span>
            <span>存款</span>
          </li>
          <li>
            <span>交易內容</span>
            <span>銀行卡存款</span>
          </li>
          <li>
            <span>交易類別</span>
            <span>存款</span>
          </li> -->
            <li>
              <span>{{ "MEMBER_RECORD.PF" | translate }}</span>
              <span>{{ item.platformName }}</span>
            </li>
            <li>
              <span>{{ "MEMBER_RECORD.QUOTA" | translate }}</span>
              <span>{{ item.bonus }}</span>
            </li>
          </ul>
        </li>
        <!-- <li class="r-footer">
        <button class="orange_btn">
          {{ "REVIEW_RECORD.DEPOSIT.TABLE.BTN-UPDATE" | translate }}
        </button>
      </li> -->
      </ul>
    </div>
  </div>
</div>
