.class {
  a {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 50vw;
    font-size: 14px;

    &:link {
      font-size: 13px;
      color: #000;
    }

    &.active {
      border-bottom: solid #d21515 2px;
    }
  }
}

.sub_class {
  width: 100vw;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #f8f8f8;
  padding: 10px;

  span {
    width: 46.4vw;
    height: 10.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    background-color: #ccc;

    &.active {
      border: 1px solid #ff6464;
      background: linear-gradient(#c61515 0%, #df1515 100%);
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.announce-tabs {
  width: 100vw;
  justify-content: center;
  overflow: hidden;

  li {
    width: 33%;
    height: 10.67vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #ccc;
    border-right: 1px solid #fff;

    // outline: 1px solid pink;
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: none;
    }

    &.active {
      border: 1px solid #ff6464;
      background: linear-gradient(#c61515 0%, #df1515 100%);
    }
  }
}

.radius {
  display: inline-block;
  border: solid #cacaca 1px;
  width: 19px;
  height: 19px;
  border-radius: 50%;

  &.active {
    background-color: #e11515;
  }
}

.btn_list {
  justify-content: space-between;
  padding: 16px;

  a {
    display: inline-block;
    width: 82px;
    height: 29px;
    line-height: 26px;
    border: solid #cfa678 1px;
    color: #cfa678;
    font-size: 13px;
    text-align: center;
    font-weight: 900;
    border-radius: 5px;

    &:active {
      opacity: 0.8;
    }
  }

  .all {
    display: inline-flex;
    align-items: center;
    color: #808080;

    .radio {
      margin-right: 10px;
    }
  }
}

.modify {
  a:nth-child(1) {
    border-color: #4cb816;
    color: #4cb816;
    margin-right: 5px;
  }

  a:nth-child(2) {
    border-color: #ed1c24;
    color: #ed1c24;
  }
}

.whiteSpace {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

.list {
  height: calc(100vh - 45px - 47px - 41px - 62px);
  overflow: scroll;

  li {
    padding: 15px;
    border-bottom: solid #f3f3f3 1px;
    align-items: center;
    display: flex;

    &.read {
      background-color: #e6e6e6;
    }

    div {
      width: calc(100vw - 47px);
    }

    .radio {
      // width: 4%;
      width: 19px;
      height: 19px;

      // outline: 1px solid pink;
      // text-align: center;
      // padding: 0 0 0 5px;
      input {
        vertical-align: middle;
        padding: 0;
        // outline: 1px solid red;
      }
    }

    .title {
      @extend .whiteSpace;
      padding-left: 10px;
      width: calc(100vw - 146px);
      font-size: 14px;
      color: #666666;
    }

    .msg {
      @extend .whiteSpace;
      padding-left: 10px;
      width: calc(100vw - 96px);
      font-size: 15px;
      color: #000;
    }

    .date {
      max-width: 94px;
      padding-left: 5px;
      color: #999;
      font-size: 13px;
      float: right;
      // position: relative;
      // top: -4px;
    }
  }
}

input[type="checkbox"] {
  // width: 19px;
  // height: 19px;
  // border-radius: 50%;
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 19px;
    height: 19px;
    position: relative;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    background: #fff;
    // visibility: visible;
    border-radius: 50%;
    border: 2px solid #ececee;
  }

  &:checked {
    &:before {
      display: block;
      content: "";
      width: 19px;
      height: 19px;
      position: relative;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      background: #fff;
      border-radius: 50%;
      border: 2px solid #ececee;
    }

    &:after {
      display: block;
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 6px);
      background: #e11515;
      border-radius: 50px;
    }
  }
}
