.main {
  overflow: scroll;
  width: 100vw;
  height: calc(100vh - 92px);
  padding: 10px 15px;
  background: #f8f8f8;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  width: 45vw;
  height: 127px;
  border-radius: 5px;
  border: solid #dbdbdb 1px;
  background: #ffffff;
  padding: 2px;
  margin-bottom: 5px;

  img {
    // max-width: 161px;
    // max-height: 96px;
    // width: calc(44vw - 4px);
    width: 100%;
    height: 96px;
    border-radius: 5px 5px 0 0;
    border: solid #dbdbdb 1px;
  }

  p {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848484;
    line-height: 18px;
    padding: 0 10px;

    span {
      width: calc(100% - 17px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      background: url("/tb-mobile/assets/img/download.svg") no-repeat center center;
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-left: 8px;
    }
  }
}
