<div class="bg">
  <div class="content">
    <ul class="content-ul">
      <li class="item">
        <div class="title">
          {{ "merchants.h1" | translate }}
          <p>
            {{ "merchants.h2" | translate }}
          </p>
        </div>
        <ul>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.li.l1" | translate }}</p>
            <button class="gray_orange_frame_btn">
              <i></i>
              {{ "merchants.li.l4" | translate }}
            </button>
          </li>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.li.l2" | translate }}</p>
            <button class="gray_orange_frame_btn">
              <i></i>
              {{ "merchants.li.l5" | translate }}
            </button>
          </li>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.li.l3" | translate }}</p>
            <button class="gray_orange_frame_btn">
              <i></i>
              {{ "merchants.li.l6" | translate }}
            </button>
          </li>
        </ul>
        <div class="photo"></div>
        <div style="display: flex; justify-content: center">
          <button class="join">{{ "NAV.JOIN" | translate }}</button>
        </div>
      </li>
      <li class="item" #list>
        <div class="title">
          {{ "merchants.app.title" | translate }}
        </div>
        <ul>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.app.li01" | translate }}</p>
          </li>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.app.li02" | translate }}</p>
          </li>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.app.li03" | translate }}</p>
          </li>
          <li>
            <i class="icon"></i>
            <p>{{ "merchants.app.li04" | translate }}</p>
          </li>
        </ul>
        <div class="text top">{{ "merchants.app.p1" | translate }}</div>
        <div
          style="display: flex; padding: 0 6.66vw 0 13.33vw; margin: 7px 0 0"
        >
          <div class="text left">{{ "merchants.app.p2" | translate }}</div>
          <div class="phone"></div>
        </div>
      </li>
      <li class="item" #list>
        <div class="title">
          {{ "merchants.money.title" | translate }}
          <p class="black">{{ "merchants.money.p1" | translate }}</p>
          <p class="black">{{ "merchants.money.p2" | translate }}</p>
        </div>
        <ul>
          <li class="g-7">
            <div
              class="g-8"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 42vw;
                height: 23.46vw;
                border-radius: 10px;
              "
            >
              <div class="inner">
                <div class="row">
                  <p>{{ "merchants.member_num" | translate }}</p>
                  {{ "merchants.data.li01.str1" | translate }}
                </div>
                <div class="row">
                  <p>{{ "merchants.commission" | translate }}</p>
                  {{ "merchants.data.li01.str2" | translate }}
                </div>
              </div>
              <div class="bottom">
                {{ "merchants.profit" | translate }}
                <p>
                  {{ "merchants.data.li01.str3" | translate }}
                </p>
              </div>
            </div>
          </li>
          <li class="g-7">
            <div
              class="g-9"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 42vw;
                height: 23.46vw;
                border-radius: 10px;
              "
            >
              <div class="inner">
                <div class="row">
                  <p>{{ "merchants.member_num" | translate }}</p>
                  {{ "merchants.data.li02.str1" | translate }}
                </div>
                <div class="row">
                  <p>{{ "merchants.commission" | translate }}</p>
                  {{ "merchants.data.li02.str2" | translate }}
                </div>
              </div>
              <div class="bottom">
                {{ "merchants.profit" | translate }}
                <p>
                  {{ "merchants.data.li02.str3" | translate }}
                </p>
              </div>
            </div>
          </li>
          <li class="g-7">
            <div
              class="g-10"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 42vw;
                height: 23.46vw;
                border-radius: 10px;
              "
            >
              <div class="inner">
                <div class="row">
                  <p>{{ "merchants.member_num" | translate }}</p>
                  {{ "merchants.data.li03.str1" | translate }}
                </div>
                <div class="row">
                  <p>{{ "merchants.commission" | translate }}</p>
                  {{ "merchants.data.li03.str2" | translate }}
                </div>
              </div>
              <div class="bottom">
                {{ "merchants.profit" | translate }}
                <p>
                  {{ "merchants.data.li03.str3" | translate }}
                </p>
              </div>
            </div>
          </li>
          <li class="g-7">
            <div
              class="g-11"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 42vw;
                height: 23.46vw;
                border-radius: 10px;
              "
            >
              <div class="inner">
                <div class="row">
                  <p>{{ "merchants.member_num" | translate }}</p>
                  {{ "merchants.data.li04.str1" | translate }}
                </div>
                <div class="row">
                  <p>{{ "merchants.commission" | translate }}</p>
                  {{ "merchants.data.li04.str2" | translate }}
                </div>
              </div>
              <div class="bottom">
                {{ "merchants.profit" | translate }}
                <p>
                  {{ "merchants.data.li04.str3" | translate }}
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="description">
          {{ "merchants.money.p3" | translate }}
        </div>
      </li>
    </ul>
  </div>
</div>
