html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
// blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  // line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a,
a:hover,
a:active,
a:focus,
li:focus,
button:focus {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

input:active,
input:focus,
select:active,
select:focus {
  outline: none;
}
input,
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
  font-family: Microsoft JhengHei;
}

body {
  position: relative;
  // padding-top: 111px;
  // font-size: 14px;
  // color: color(font, black);
  text-decoration: none;
  // user-select: none;
}

.clearfix {
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
